.navbar {
    
    
      &__title {
        font-size: 4.4em;
        text-align: center;
        padding: 130px 0 100px 0 ;
        color: aliceblue;
        text-shadow: 7px 4px 10px rgba(191, 188, 230, 1);
    }
}