.form {
    transition: all .4s;
    border-radius: 20px;
    background-color: rgba(240, 248, 255, 0.7);
    margin-bottom: 25px;
    padding: 24px;
    border: 2px solid rgba(240, 248, 255, 0.253),
        2px solid rgba(0, 0, 0, 0.253),
        2px solid rgba(0, 0, 0, 0.253),
        2px solid rgba(240, 248, 255, 0.253);
}
.form input{
    background-color: #fff;
    padding: 8px;
    border: none;
    border-radius: 5px;

    margin-bottom: 8px;
    &:hover{
        border: none;

    }
}